.achievements {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
  padding: 6rem 0rem;
  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 375px) {
      width: 100%;
      background-color: var(--color-primary-50);
      gap: 2rem;
      padding: 2.5rem 1.5rem;
      border-radius: 1rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5.875rem;
    width: 76rem;
    &--mobile {
      display: none;
      @media (max-width: 850px) {
        display: block;
        width: 100%;
        gap: 1rem;
      }
    }
    @media (max-width: 850px) {
      display: none;
    }
  }
}

.stats {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 76rem;
  padding: 4rem;
  background-color: var(--color-primary-50);
  border-radius: 1rem;
  gap: 2rem;
  &__card {
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 3.75rem;
      color: var(--color-primary-600);
      @media (max-width: 500px) {
        font-size: 3rem;
      }
    }
    &__info {
      color: var(--color-gray-900);
      font-size: 1.125rem;
    }
  }
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
}
