.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 6rem;
  &__title {
    font-size: 2.25rem;
    text-align: center;
    @media (max-width: 375px) {
      font-size: 1.875rem;
    }
  }
  &__info {
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--color-gray-500);
    @media (max-width: 375px) {
      font-size: 1.125rem;
    }
  }
  &__image-desktop {
    height: 34rem;
    @media (max-width: 700px) {
      display: none;
    }
  }
  &__image-mobile {
    display: none;
    @media (max-width: 700px) {
      display: block;
      height: 22.5rem;
    }
  }
  @media (max-width: 375px) {
    gap: 3rem;
  }
}
